<div class="header">
    <div class="content">
        <a [routerLink]="['/']" class="link-logo">
            <img class="logo" src="../../../assets/logoHamak.png" alt="hamak" />
        </a>

        <div class="search-bar">
            <div class="search-bar-content">
                <img class="search-svg" src="../../../assets/loupe.svg" alt="">
                <form (ngSubmit)="search()">
                    <input type="text" placeholder="Rechercher un produit..." class="input" [(ngModel)]="searchInput" name="searchInput">
                    <input type="submit" hidden>
                </form>
            </div>
        </div>
    </div>
</div>