:host {
    height: 100%;
    padding: 2% 5%;
}

.content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Poppins', sans-serif;

    .border {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .container {
            display: flex;
            width: 92%;
            height: 90%;
            position: relative;
            flex-direction: column;
            justify-content: space-between;

            .results-header {
                margin-bottom: 30px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .results-title {
                    font-size: 26px;
    
                    .search-term {
                        font-style: italic;
                    }
                }

                .filter-results {

                }
            }
            

            .products {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-content: flex-start;
                gap: 20px;
                justify-content: center;
                transition: filter 0.2s;
    
                .product {
                    border-radius: 10px;
                    box-shadow: 0px 1.5px 4px 0px rgba(0, 0, 0, 0.5);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    height: 300px;
                    width: 215px;
                    flex-basis: 17%;
    
                    .product-content {
                        height: 100%;
                        margin: 20px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
    
                        .product-image {
                            height: 60%;
                            display: flex;
        
                            .image-container {
                                margin: 12px 0px;
                                width: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                overflow: hidden;
    
                                img {
                                    width: 100%;
                                    height: 200px;
                                    object-fit: contain;
                                }
                            }
                        }
    
                        .product-info {
                            height: 40%;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
    
                            .main-info {
                                .product-title {
                                    font-size: 16px;
                                }
        
                                .product-brand {
                                    color: #737373;
                                    font-size: 16px;
                                }
                            }
    
                            .product-score {
                                font-size: 20px;
                                font-weight: 600;
                                margin-bottom: 10px;
                            }
                        }
                    }
    
                    &:hover {
                        outline: solid 2px rgba(240, 192, 110, 0.8);
                    }
                }

                &.blurred {
                    filter: blur(3px);
                    pointer-events: none;
                }
            }

            .pagination {
                height: 8%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 15px;
                transition: filter 0.2s;

                .pagination-container {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 32%;
                    gap: 15px;
                }

                .next-button, .prev-button {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 10px;            
                    }

                    &:hover {
                        img {
                            filter: invert(87%) sepia(61%) saturate(1822%) hue-rotate(309deg) brightness(105%) contrast(88%);
                        }
                    }
                }

                &.blurred {
                    filter: blur(3px);
                    pointer-events: none;
                }
            }
            
            .page-number,
            .ellipsis {
                padding: 5px;
                cursor: pointer;
            }

            .ellipsis {
                pointer-events: none;
            }

            .page-number {
                &:hover {
                    color: rgba(240, 192, 110, 0.8);
                }
            }
            
            .page-number.active {
                background-color: rgba(240, 192, 110, 0.8);
                border-radius: 0.4rem;
                width: 10px;
                height: 10px;
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                pointer-events: none;
            }
            
            .prev-button[disabled],
            .next-button[disabled] {
                opacity: 0.5;
                pointer-events: none;
            }
        }
    }
}