<div class="content">
    <div class="border">
        <button class="button left-button" (click)="onMainInfo()">
            <img src="../../../assets/chevron-left.svg" alt="" class="chevron">
        </button>

        <div class="container">
            <div class="nutritional-container">
                <div class="product-info">
                    <div class="product-title">
                        <span class="product-name">{{ product.name }}</span>
                    </div>
                    <div class="product-brand" *ngIf="product.brand">
                        {{ product.brand }}
                    </div>
                </div>

                <div class="nutritional-facts">
                    <div class="nutritional-facts-title">
                        Valeurs nutritionnelles pour 100g
                    </div>
                    <div class="nutrional-facts-content">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="nutritional-title">Énergie</td>
                                    <td *ngIf="product.energy_kcal_100g">{{ product.energy_kcal_100g | number : '1.0-2' }}kCal</td>
                                    <td *ngIf="!product.energy_kcal_100g" class="not-available">N/A</td>
                                </tr>
                                <tr>
                                    <td class="nutritional-title">Matières grasses</td>
                                    <td *ngIf="product.fat_100g">{{ product.fat_100g | number : '1.0-2' }}g</td>
                                    <td *ngIf="!product.fat_100g" class="not-available">N/A</td>
                                </tr>
                                <tr>
                                    <td class="nutritional-title">&emsp;Graisses saturées</td>
                                    <td *ngIf="product.saturated_fat_100g">{{ product.saturated_fat_100g | number : '1.0-2' }}g</td>
                                    <td *ngIf="!product.saturated_fat_100g" class="not-available">N/A</td>
                                </tr>
                                <tr>
                                    <td class="nutritional-title">Glucides</td>
                                    <td *ngIf="product.carbohydrates_100g">{{ product.carbohydrates_100g | number : '1.0-2' }}g</td>
                                    <td *ngIf="!product.carbohydrates_100g" class="not-available">N/A</td>
                                </tr>
                                <tr>
                                    <td class="nutritional-title">&emsp;Sucres</td>
                                    <td *ngIf="product.sugars_100g">{{ product.sugars_100g | number : '1.0-2' }}g</td>
                                    <td *ngIf="!product.sugars_100g" class="not-available">N/A</td>
                                </tr>
                                <tr>
                                    <td class="nutritional-title">Fibres</td>
                                    <td *ngIf="product.fiber_100g">{{ product.fiber_100g | number : '1.0-2' }}g</td>
                                    <td *ngIf="!product.fiber_100g" class="not-available">N/A</td>
                                </tr>
                                <tr>
                                    <td class="nutritional-title">Protéines</td>
                                    <td *ngIf="product.proteins_100g">{{ product.proteins_100g | number : '1.0-2' }}g</td>
                                    <td *ngIf="!product.proteins_100g" class="not-available">N/A</td>
                                </tr>
                                <tr>
                                    <td class="nutritional-title">Sel</td>
                                    <td *ngIf="product.salt_100g">{{ product.salt_100g | number : '1.0-2' }}g</td>
                                    <td *ngIf="!product.salt_100g" class="not-available">N/A</td>
                                </tr>
                                <tr>
                                    <td class="nutritional-title">&emsp;Sodium</td>
                                    <td *ngIf="product.sodium_100g">{{ product.sodium_100g | number : '1.0-2' }}g</td>
                                    <td *ngIf="!product.sodium_100g" class="not-available">N/A</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="chart-container">
                <canvas  id="MyChart" >{{ chart }}</canvas>
            </div>
        </div>

        <button class="button right-button" (click)="onBiAnalysis()">
            <img src="../../../assets/chevron-right.svg" alt="" class="chevron">
        </button>
    </div>
</div>