<div class="content">
    <div class="border">
        <button class="button left-button" (click)="onNutritionFacts()">
            <img src="../../../assets/chevron-left.svg" alt="" class="chevron">
        </button>

        <div class="container">
            <div class="product-container">
                <div class="product-info">
                    <div class="product-title">
                        <span class="product-name">{{ product.name }}</span>
                    </div>
                    <div class="product-brand" *ngIf="product.brand">
                        {{ product.brand }}
                    </div>
                </div>
            </div>

            <div class="charts">
                <div class="analysis-title" *ngIf="hasAnalysis">Analyses BI</div>
                <div class="no-analysis" *ngIf="!hasAnalysis && !isLoading">
                    <div class="cross-icon">
                        <img src="../../../assets/cross.svg" alt="">
                    </div>
                    <div class="no-analysis-message">
                        Nous n'avons pas pu analyser ce produit.
                    </div>
                </div>
                <div class="charts-section" *ngIf="hasAnalysis">
                    <div class="chart-container">
                        <div class="chart">
                            <canvas id="BestWorstChart">{{ bestWorstComparisonChart }}</canvas>
                        </div>
                    </div>
                    <div class="chart-container">
                        <div class="chart">
                            <canvas id="AveragesChart" >{{ averagesChart }}</canvas>
                        </div>
                    </div>
                </div>
            </div>            
        </div>

        <button class="button right-button" (click)="onAlternatives()" *ngIf="showAlternativesBtn">
            <img src="../../../assets/chevron-right.svg" alt="" class="chevron">
        </button>
    </div>
</div>