:host {
    height: 100%;
    padding: 2% 5%;
}

.content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Poppins', sans-serif;

    .border {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .container {
            display: flex;
            width: 92%;
            height: 90%;
            position: relative;
            flex-direction: column;
            justify-content: center;
            background-color: antiquewhite;

            .product-container {
                margin: 0 0 0 5%;
                height: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color: red;

                .product-info {
                    margin: 1%;

                    .product-title {
                        font-size: 26px;
                        font-weight: 700;
                    }

                    .product-brand {
                        font-size: 20px;
                        color: #737373;
                    }
                }
            }

            .alternatives-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 70%;

                .alternatives-title {
                    font-size: 26px;
                }

                .alternatives-content {
                    
                    .no-alternatives {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        img {
                            width: 50px;
                            filter: invert(48%) sepia(0%) saturate(1821%) hue-rotate(317deg) brightness(94%) contrast(98%);
                        }

                        .no-alternatives-message {
                            font-size: 26px;
                            color: #737373;
                        }
                    }
                }
            }
        }

        .left-button {
            position: absolute;
            left: 6%;
            width: 30px;
            transition: filter 0.5s ease;
            
            &:hover {
                filter: brightness(0%);
            }
        }

        .chevron {                
            filter: invert(48%) sepia(0%) saturate(1821%) hue-rotate(317deg) brightness(94%) contrast(98%);
        }
    }
}